.about-section {
  display: flex;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 100px 20px 50px;
  box-sizing: border-box;
  overflow: hidden;
}

.about-me {
  width: 100%;
  max-width: 800px;
}

.about-me h3 {
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-weight: 400;
  color: var(--accentColor);
}

.about-me p {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.5px;
  margin: 0;
  word-wrap: break-word;
}

@media only screen and (min-width: 600px) {
  .about-me p {
    font-size: 26px;
  }
}

@media only screen and (min-width: 768px) {
  .about-me p {
    font-size: 33px;
    line-height: 36px;
  }
  .about-me {
    width: 500px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-me {
    width: 800px;
  }
}
@media only screen and (min-width: 1025px) {
  .about-section {
    width: var(--cWidth);
    justify-content: right;
    max-width: 1920px;
    height: var(--vh);
    padding: 0px;
    opacity: 1;
  }
  .about-me {
    padding: 0px;
    width: 50%;
  }
  .about-me p {
    font-size: 1.9vw;
    line-height: 2.3vw;
  }
}
@media only screen and (min-width: 1950px) {
  .about-me p {
    font-size: 2.5rem;
    line-height: 2.7rem;
  }
}
